*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "Sora", sans-serif;
  src: url(../fonts/Sora-VariableFont_wght.ttf);
}

:root{
    --primary: #fafaf9;
    --white: #fff;
    --grey: #d4d4d8;
    --grey-black: #52525a;
    --header-color: #18181b;
    --star-color: #f5c044;
    --checkbock-color: #4ca154;
     --link-footer: #284bce;
}

html{
    font-family: "Sora";
    font-size: 16px;
    color: var(--grey-black);
    background: var(--primary);
}
h1{
    font-size: 2.25rem;
    padding: 20px 0 32px;
}
h1,
h2{
    color: var(--header-color);
}
h2{
    margin: 0.7rem 0;
}
.reviewer{
    font-size: 1.25rem;
}
.star-header{
    
    width: 2.9rem;
    height: 2.9rem;
    background: var(--star-color);
    border-radius: 50%;
/* горизонтальне центрування */
   display: flex;
  justify-content: center; 
  align-items: center; 
    
    
}
.description{
    line-height: 2rem;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    font-size: 1rem;
    background: var(--white);
    border-radius: 10px;
    padding: 28px 40px 34px;
   

}
.rating{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.31rem;
   
}
.logo{
    width: 4.5rem;
   
}
.title{
    line-height: 1.5rem;
}

ul{
   
    font-size: 0.875rem;
    list-style-position: outside;
    padding-left: 28px;
    /* list-style-image: url(../resources/Done_ring_round_fill.svg); */
}

ul li::marker {
  content: url(../resources/Done_ring_round_fill.svg);
  
}

li{
    
}

/* ================  FOOTER  ============== */

footer {
  padding: 3rem 0;
}
.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
 
}
.attribution p {
  font-weight: 600;
}
.attribution a {
  font-style: italic;
  text-decoration: none;
  color: var(--link-footer);
}

@media screen and (max-width: 30rem) {
    .container{
        width: 100%;
        max-width: 26rem;
        padding: 2.5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .card{
        width: 100%;
        max-width: 24rem;
        max-height: 11.81rem;
        /* border: 1px solid red; */
    }

    .star-rating {
        display: flex;
        flex-wrap: nowrap;
        
    }
    .title{
        font-size: 1rem;
    }
    footer {
  padding: 1.5rem 0;
}
    
}

/* 
    Sora | Heading
36px | 2.25rem

Sora | Body
20px | 1.25rem

Sora | Body 2
16px | 1rem

Sora | List Item
14px | 0.875rem

*/


